"*":
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "exception-reporting"
      "metrics"
      "whitespace"
    ]
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    defaultFontSize: 12
    fontSize: 12
    showInvisibles: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-ui-default":
    panelHeight: 173
    showPanel: true
  "prettier-atom":
    formatOnSaveOptions:
      isDisabledIfNoConfigFile: true
  "seti-syntax":
    themeColor: "Pink"
  "seti-ui":
    compactView: true
    themeColor: "Pink"
  welcome:
    showOnStartup: false
